<div class="container-fluid">
	<div class="row no-gutters">
			<div class="header">
				Mailfunnel
			</div>
	</div>
	<div class="row">
		<div class="content">
			{{mail-list mails=model.mails}}
		</div>
	</div>
</div>

{{outlet}}
