<div class="container-fluid">
	<div class="row no-gutters">
			<div class="header">
				Mailfunnel
			</div>
	</div>
	<div class="row">
		{{mail-list emails=model.emails showEmail=(action "showEmail") detailsShown=detailsShown}}
		{{outlet}}
	</div>
</div>