<div class="container-fluid">
	<div class="row no-gutters">
			<div class="header">
				Mailfunnel
			</div>
	</div>
	<div class="row">
		<div class="content">
			<div class="mail">
				<div class="tab"></div>
				<div class="select"></div>
				<div class="from"></div>
				<div class="subject"></div>
				<div class="received"></div>
			</div>
		</div>
	</div>
</div>

{{outlet}}
