@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);
@import 'normalize';

@red: #ef233c;
@dark-gray: #292a2a;

body {
	background: #edf2f4;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* Make ember actions 'clickable' elements */
[data-ember-action] {
  cursor: pointer;
}

.header {
	.make-md-column(12);

	margin-bottom: 35px;
	padding-top: 5px;
	height: 50px;
	background: #fff;
	font-size: 2em;
	font-weight: 100;
	color: @red;
	.box-shadow(0 1px 3px #e4e9ea)
}

@import 'mail';

.row.no-gutters {
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}