{{#each emails}}
<div class="mail">
	<div class="tab"></div>
	<div class="select"></div>
	<div class="from">{{from}}</div>
	<div class="subject">{{subject}}</div>
	<div class="received">{{date}}</div>
</div>
{{/each}}
{{yield}}
