<div class="sidebar-menu">
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="active">
	  	<a href="#">
	  		<span class="icon-container"><i class="fa fa-inbox fa-fw"></i></span> Inbox
	  	</a>
	  </li>
	  <li role="presentation">
	  	<a href="#">
	  		<span class="icon-container"><i class="fa fa-folder fa-fw"></i></span> Groups
	  	</a>
	  </li>
	</ul>
{{yield}}
</div>